<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="MoneyHans" parallel="tests">

  <test name="TestOnChrome">
    <classes>
      <class name="MoneyHans.moneyHansFirefox"/>
      <class name="MoneyHans.moneyHansChrome"/>
      <class name="MoneyHans.moneyHansMicrooftEdge"/>      
    </classes>
  </test>
    
</suite> <!-- Default suite -->